* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: normal 15pt Arial;
}

body {
  background: rgb(70, 142, 236);
}

header {
  color: #fff;
  text-align: center;
  margin-top: 20px;
}

section {
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  width: 500px;
  margin: 20px auto;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

img {
  margin-top: 10px;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

@media (max-width: 500px) {
  section {
    width: 90%;
  }

  img {
    width: 100%;
    height: 250px;
  }
}

div {
  background: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
}

div:first-child {
  margin-bottom: 20px;
}

footer {
  color: #fff;
  text-align: center;
  font-style: italic;
}
